.side-bar
  .side-bar__header
    .side-bar__header--box
      .side-bar__header--box--text
        = current_user.name  
      .side-bar__header--box--menu
        .side-bar__header--box--menu--icon
          =link_to"#" do
            %i.fas.fa-edit
        .side-bar__header--box--menu--icon2
          =link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar__group
    .side-bar__group
      .side-bar__group--text
        .side-bar__group--text--text1
          techcamp
        .side-bar__group--text--text2
          まだメッセージがありません